.captcha {
    margin-top: 3px;
    font-size: 20px;
    color: orange;
  }
  
  .dropdownstyles{
    color: darkblue;
    font-size: 16px;
    width: 11rem;
  }

  .contactPageContainer {
    display: flex;
    flex-direction: column;
    height: 40vh; 
  }
